.SuggestButtons {
  gap: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.suggest {
  border-radius: 2px;
  width: 90px;
  color: #ffffff;
  padding: 8px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-suggest {
  background-color: var(--grisDark);
}

.btn-clean {
  background-color: var(--grisLight);
  color: var(--texto);
}
.btn-suggest:hover {
  opacity: 0.9;
}
.btn-clean:hover {
  color: rgb(182, 52, 52);
}
