.iconBack-trends{
    position: absolute;
    font-size: 28px;
    position: absolute;
    left:50px;
    top: 12px;
    color: var(--texto);
    cursor: pointer;
}

.Trends{
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: center;
}

@media (max-width: 768px) {
   .Trends{
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .MonthlyChart{
    width:320px;
    padding: 0;
}
  }



