/* Texto Principal: Negro (#000000) - Para un alto contraste con fondos claros.
Texto Secundario: Gris Oscuro (#34495E) - Para un contraste menos intenso en fondos claros.
Texto en Verde Claro: Blanco (#FFFFFF) - Para resaltar en fondos verdes claros.
Texto en Verde Oscuro: Blanco (#FFFFFF) - Para resaltar en fondos verdes oscuros. */

:root {
  --primaryGreen: #2ecc71;
  --lightGreen: #a9dfbf;
  --darkGren: #27ae60;
  --grisLight: #d5dbdb;
  --grisDark: #34495e;
  --texto: #333333;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: monospace;
}
